node_modules
.pnpm-store
.DS_Store
dist
.eslintcache
**/coverage
.idea
output
packages/extension/media
/tests/playwright/tests/
/tests/resources/envtest-kubeconfig
/tests/resources/envtest-kubeconfig-user1
